<div>
  <sly-card>
    <div style="margin: 10px 10px 0 0">
      <sly-field
        title="Select workspace"
        description="For which you want to archive projects"
        style="margin: 6px 10px 0x 0"
      >
        <sly-select-team-workspace
          style="margin: 10px 10px 6px 8px"
          v-if="!state.allWorkspaces"
          :team-id.sync="state.teamId"
          :workspace-id.sync="state.wSpaceId"
        ></sly-select-team-workspace>
        <el-checkbox
          style="margin: 10px 10px 0 8px"
          v-model="state.allWorkspaces"
          >All available workspaces</el-checkbox
        >
      </sly-field>

      <sly-field
        title="Choose project type"
        description="Several types can be selected"
        style="margin: 6px 10px 0x 0"
      >
        <div>
          <el-select
            v-model="state.types"
            v-if="!state.allPTypes"
            :multiple="true"
            :filterable="false"
            ><el-option
              v-for="item in state.items"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
        <el-checkbox style="margin: 10px 10px 0 8px" v-model="state.allPTypes"
          >All types</el-checkbox
        >
      </sly-field>

      <sly-field
        title="Sleep time"
        description="Please set the number of days to pause before the next archiving run:"
        style="margin: 16px 10px 10px 0"
      >
        <el-input-number
          style="margin: 0 0 0 8px"
          v-model="state.sleep"
          :min="1"
          :max="60"
          show-input
        ></el-input-number>
      </sly-field>

      <sly-field
        title="Archiving period"
        description=""
        style="margin: 16px 10px 0 0"
      >
        <div style="color: #d10000; font-size: 13px" v-if="!state.setRange">
          ⚠️ All available projects will be archived
        </div>
        <div style="color: #7f858e; font-size: 13px" v-if="state.setRange">
          Sets the day to define the period in which all projects that have not
          been updated will be selected:
        </div>
        <div
          style="color: #7f858e; font-size: 13px; margin: 0 0 4px 0"
          v-if="state.setRange"
        >
          - "From" option sets a certain day in the past from which the infinite
          period in the past begins
        </div>
        <div
          style="color: #7f858e; font-size: 13px; margin: 0 0 4px 0"
          v-if="state.setRange"
        >
          - "To" option sets a certain day in the past until which the period
          lasts, starting from today
        </div>
        <el-checkbox style="margin: 10px 10px 0px 8px" v-model="state.setRange"
          >Set range</el-checkbox
        >
        <div
          style="color: #7f858e; font-size: 13px; margin: 0 10px 4px 30px"
          v-if="state.setRange"
        >
          If you want to archive all available projects, just uncheck "Set
          range"
        </div>
        <div style="margin: 10px 10px 10px 8px" v-if="state.setRange">
          <el-radio-group v-model="state.rangeType">
            <el-radio-button label="From">From</el-radio-button>
            <el-radio-button label="To">To</el-radio-button>
          </el-radio-group>
        </div>
        <el-input-number
          style="margin: 0 0 0 8px"
          v-if="state.setRange"
          v-model="state.rangeDay"
          :min="1"
          :max="365"
          show-input
        ></el-input-number>
      </sly-field>

      <sly-field title="Advanced options" style="margin: 16px 10px 10px 0">
        <el-checkbox
          style="margin: 10px 10px 0 8px"
          v-model="state.skipExported"
          >Skip already archived</el-checkbox
        >
        <div style="font-size: 14px; margin: 16px 0 4px 8px">Batch size</div>
        <el-input-number
          style="margin: 0 0 0 8px"
          v-model="state.batchSize"
          :min="1"
          :max="500"
          show-input
        ></el-input-number>

        <div style="font-size: 14px; margin: 16px 0 4px 8px">
          Choose sorting
        </div>
        <div
          style="color: #d10000; font-size: 13px; margin: 0px 0 4px 8px"
          v-if="!state.defSort"
        >
          ⚠️ Works only if chosen both settings
        </div>
        <div
          class="container"
          style="margin: 6px 0 0px 8px; display: flex; grid-gap: 6px"
        >
          <el-select
            v-model="state.sType"
            v-if="!state.defSort"
            :multiple="false"
            :filterable="false"
            class="element"
            ><el-option
              v-for="item in state.sortTypes"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          <el-select
            v-model="state.sOrder"
            v-if="!state.defSort"
            :multiple="false"
            :filterable="false"
            class="element"
            ><el-option
              v-for="item in state.sortOrders"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
        <el-checkbox style="margin: 10px 10px 0 8px" v-model="state.defSort"
          >Default sorting</el-checkbox
        >
        <div
          style="color: #7f858e; font-size: 13px; margin: 0px 10px 4px 30px"
          v-if="state.defSort"
        >
          Values: updatedAt - asc
        </div>
      </sly-field>
    </div>
  </sly-card>
</div>
