<div>
  <sly-card>
    <div style="margin: 10px 10px 0 0">
      <sly-field
        title="Select workspace"
        description="For which you want to archive projects"
        style="margin: 6px 10px 0x 0"
      >
        <sly-select-team-workspace
          style="margin: 10px 10px 6px 8px"
          v-if="!state.allWorkspaces"
          :team-id.sync="state.teamId"
          :workspace-id.sync="state.wSpaceId"
        ></sly-select-team-workspace>
        <el-checkbox
          style="margin: 10px 10px 0 8px"
          v-model="state.allWorkspaces"
          >All available workspaces</el-checkbox
        >
      </sly-field>

      <sly-field
        title="Choose project type"
        description="Several types can be selected"
        style="margin: 6px 10px 0x 0"
      >
        <div>
          <el-select
            v-model="state.types"
            v-if="!state.allPTypes"
            :multiple="true"
            :filterable="false"
            ><el-option
              v-for="item in state.items"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
        <el-checkbox style="margin: 10px 10px 0 8px" v-model="state.allPTypes"
          >All types</el-checkbox
        >
      </sly-field>

      <sly-field
        title="Sleep time"
        description="Please set the number of days to pause before the next archiving run:"
        style="margin: 16px 10px 10px 0"
      >
        <el-input-number
          style="margin: 0 0 0 8px"
          v-model="state.sleep"
          :min="1"
          :max="60"
          show-input
        ></el-input-number>
      </sly-field>

      <sly-field
        title="Archiving period"
        description=""
        style="margin: 16px 10px 0 0"
      >
        <div style="color: #7f858e; font-size: 13p" v-if="!state.setRange">
          ⚠️ All available projects will be archived
        </div>
        <div style="color: #7f858e; font-size: 13p" v-if="state.setRange">
          Sets the period equal to the number of days from today to the past.
        </div>
        <div
          style="color: #7f858e; font-size: 13p; margin: 0 0 4px 0"
          v-if="state.setRange"
        >
          If the project has not been updated during (To) or before (From) this
          period, it will be added to the list:
        </div>
        <el-checkbox style="margin: 10px 10px 0 8px" v-model="state.setRange"
          >Set range</el-checkbox
        >
        <div
          style="color: #7f858e; font-size: 13p; margin: 0 10px 0 8px"
          v-if="state.setRange"
        >
          If you want to archive all available projects, just uncheck "Set
          range"
        </div>
        <div style="margin: 10px 10px 10px 8px" v-if="state.setRange">
          <el-radio-group v-model="state.rangeType">
            <el-radio-button label="To">To</el-radio-button>
            <el-radio-button label="From">From</el-radio-button>
          </el-radio-group>
        </div>
        <el-input-number
          style="margin: 0 0 0 8px"
          v-if="state.setRange"
          v-model="state.rangeDay"
          :min="1"
          :max="365"
          show-input
        ></el-input-number>
      </sly-field>

      <sly-field title="Advanced options" style="margin: 16px 10px 10px 0">
        <el-checkbox
          style="margin: 10px 10px 0 8px"
          v-model="state.skipExported"
          >Skip already archived</el-checkbox
        >
      </sly-field>
    </div>
  </sly-card>
</div>
